
{% block content %}
        <h1 class="title">{{ article.title }}</h1>
        <p class="date">{{ NEST_ARTICLE_HEADER_BY }} {% for author in article.authors %}<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}{% endfor %}, {{ article.locale_date }}{% if article.modified %}, {{ NEST_ARTICLE_HEADER_MODIFIED }} {{ article.locale_modified }}{% endif %}, {{ NEST_ARTICLE_HEADER_IN }} <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category|capitalize }}</a></p>
        <p class="pull-right tags">
            <span class="glyphicon glyphicon-tags mr5" aria-hidden="true"></span>
            {% for tag in article.tags|sort %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
        </p>
        <!-- div class="header-underline"></div -->
        <div class="clearfix"></div>

        {{ article.content }}

        {% if article.related_posts %}
            <h4>Articles connexes</h4>
            <dl class="dl-horizontal">
            {% for related_post in article.related_posts %}
                <dt>{{ related_post.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></dd>
            {% endfor %}
            </dl>
        {% endif %}

        {% include "disqus_script.html" %}

        <div class="header-underline"></div>
        <div class="clearfix"></div>        
{% endblock %}
